doctype 5
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='shortcut icon', href='/images/bitters.jpg')
    title= title
    link(rel='stylesheet', href='/node_modules/embittered/stylesheets/base.css')
    link(rel='stylesheet', href='/node_modules/embittered/stylesheets/skeleton.css')
    link(rel='stylesheet', href='/node_modules/embittered/stylesheets/layout.css')
    script(type='text/javascript', src='/node_modules/embittered/javascripts/highlight.min.js')
    link(rel='stylesheet', href='/node_modules/embittered/stylesheets/monokai_sublime.css')
    link(rel='stylesheet', href='/node_modules/embittered/stylesheets/style.css')
  body
    .navbar.navbar-top
      .container
        .ten.columns
          ul
            li 
              a(href='/')= title
            li
              a(href='/login') Login
            li 
              a(href='http://github.com/evbogue/bitters') Git Repo
    .container
      .ten.columns 
        block content
      .five.columns.offset-by-one.sidebar
        include sidebar.jade
