extends layout

block content
p This is where you identify yourself, and leave an email where you can be contacted.
  <iframe src="http://webchat.freenode.net?channels=%23ffbengbr" width="647" height="400"></iframe>
