
img(src='/images/fredders.png', width='100%', class='profile')

h3 Who am I

p Hi, I'm Fred Furst, and I'm currently focusing on learning some development skills by solving the following equation: "kivy + node.js + couchdb = relax in a lively, asynchronous manner".

p I believe a little bit of code can make for big changes. Right now, I'm trying to figure out how to make stunning multi-device interfaces, and learning about the backend servers for it as well.

h3 Talk to Me

p BitMessage: BM-2cTXytUMvJE8nENmg81orqA76Ci1NhvaRT

p
  a(href='https://github.com/furetosan/bitters') Github repository

h3 Using Bitters

p If you're using Bitters, add yourself with a 
  a(href='https://github.com/furetosan/bitters') pull request

