
img(src='/images/fredders.jpg', width='100%', class='profile')

h3 Talk to Me

p
  a(href="skype:ffbittencourt?chat") Skype

p
  a(href='https://github.com/evbogue/bitters') Github repository

h3 Using Bitters

p If you're using Bitters, add yourself with a 
  a(href='https://github.com/evbogue/bitters') pull request

