
img(src='/images/fredders.png', width='100%', class='profile')

h3 Who am I

p Look, I'm the joke, ok? I get it. Despite that, I'm currently working on how to get results in the long term when working mostly with people. I have a few published books, and I'm a professor of engineering... in Brazil.

h3 Talk to Me

p
  a(href="skype:ffbittencourt?chat") Skype

p
  a(href='https://github.com/evbogue/bitters') Github repository

h3 Using Bitters

p If you're using Bitters, add yourself with a 
  a(href='https://github.com/evbogue/bitters') pull request

